.scrollbar::-webkit-scrollbar{
  width: 10px;
}
.scrollbar::-webkit-scrollbar-track{
  @apply bg-slate-100 
}
.scrollbar::-webkit-scrollbar-thumb{
  @apply bg-slate-200 rounded-full
}

.placeholder-input {
  color: black; /* Placeholder text color */
  border: 1px solid darkgray; /* Border color and width */
  height: 37px;
  /* padding: 5px; /* Optional: Padding around placeholder text */
  border-radius: 6px;
}

.placeholder-chek-input {
  color: black; /* Placeholder text color */
  border: 2px solid lightgray; /* Border color and width */
  background: white;
  height: 45px;
  /* padding: 5px; /* Optional: Padding around placeholder text */
  border-radius: 8px;
}

.loginshadow{
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.logoheader2{
  width: 240px;
  height: 80px;
}